.advantages {
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.advantages__item {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
  .advantages__description {
    @include font($fz: 14px, $fw: 500, $lh: 1.71, $ls: 0.03em);
  }
}

.advantages__box {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  background: var(--second-section-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages__title {
  margin-bottom: 10px;

  @include font($fz: 14px, $fw: 700, $lh: 1.14, $ls: 0.03em);
  color: var(--main-title-color);
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.advantages__icon {
  width: 70px;
  height: 70px;
}
