.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  margin-right: -8px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 15px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 35px;
  }
}

.filter__item {
  margin-bottom: 15px;
  margin-right: 8px;
}

.filter__btn {
  padding: 6px 22px;

  background-color: #f5f4fa;
  font-family: inherit;
  @include font($fz: 16px, $fw: 500, $lh: 1.62, $ls: 0.03em);
  color: var(--second-btn-color);
  border: 1px transparent;
  border-radius: 4px;

  transition-property: color, background-color, box-shadow;
  @extend %animation-style;

  &:hover,
  &:focus {
    background-color: var(--main-btn-background-color);
    color: var(--main-btn-color);
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}
