.section__title {
  margin-bottom: 50px;

  @include font($fz: 36px, $fw: 700, $lh: 1.17, $ls: 0.03em);
  text-align: center;
  color: var(--main-title-color);
}

.footer__title {
  @include font($fz: 14px, $fw: 700, $lh: 1.14, $ls: 0.03em);
  text-transform: uppercase;
  color: var(--accent-title-color);
}
