:root {
  --main-title-color: #212121;
  --accent-title-color: #ffffff;
  --main-text-color: #757575;
  --second-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --second-section-background-color: #f5f4fa;
  --accent-section-background-color: #2f303a;
  --main-btn-color: #ffffff;
  --second-btn-color: #212121;
  --main-btn-background-color: #2196f3;
  --second-btn-background-color: #f5f4fa;
}
